@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace Instagib
@inherits Panel
@attribute [StyleSheet]

<root class="@(IsShown ? "visible" : "")">
    <div class="controls-panel">
        <h1>How to Play</h1>
        <div class="controls">
            <div class="main-keys">
                <div class="wasd">
                    <div class="row">
                        <div class="space" />
                        <div class="key">@Input.GetButtonOrigin("Forward", true)</div>
                        <div class="space" />
                    </div>
                    <div class="row">
                        <div class="key">@Input.GetButtonOrigin("Left", true)</div>
                        <div class="key">@Input.GetButtonOrigin("Backward", true)</div>
                        <div class="key">@Input.GetButtonOrigin("Right", true)</div>
                    </div>
                    <div class="long-key flex">@Input.GetButtonOrigin("Jump", true)</div>
                    <h1>Movement</h1>
                </div>
                @* <div class="other">
                <div class="long-key">Shift</div>
                <h1>Zoom</h1>
                </div> *@
            </div>
            <div class="mouse">
                <div class="fire">
                    @(((Input.GetButtonOrigin("Attack1", true) == "mouse1") ? "Fire Beam" : ((Input.GetActions().Any(x => x.KeyboardCode == "mouse1")) ? (Input.GetActions().Where(x => x.KeyboardCode == "mouse1").FirstOrDefault().Name) : "N/A"))
                        <div />
                </div>
                <img src="/ui/mouse.png" class="mouse-img" />
                <div class="bounce">
                    @(((Input.GetButtonOrigin("Attack2", true) == "mouse2") ? "Bounce (Rocket Jump)" : ((Input.GetActions().Any(x => x.KeyboardCode == "mouse2")) ? (Input.GetActions().Where(x => x.KeyboardCode == "mouse2").FirstOrDefault().Name) : "N/A"))
                        <div />
                </div>
                <h1>Mouse</h1>
            </div>
        </div>
        <div class="other-controls">
            <div class="control">
                <div class="long-key">@Input.GetButtonOrigin("Zoom", true)</div>
                <h1>Zoom</h1>
            </div>
            <div class="control">
                <div class="long-key">@Input.GetButtonOrigin("Chat", true)</div>
                <h1>Chat</h1>
            </div>
            <div class="control">
                <div class="key">@Input.GetButtonOrigin("Voice", true)</div>
                <h1>Voice</h1>
            </div>
        </div>
        <div class="extra">@("You can also type \"!rtv\" in the Chat at any time to Rock the Vote!")</div>
    </div>
</root>

@code
{
    bool IsShown => Input.Down("Info");
    protected override int BuildHash() => System.HashCode.Combine(IsShown);
}