@using System;
@using Sandbox;
@using Sandbox.UI;
@namespace Instagib
@inherits PanelComponent

<root>
	<div class="crosshair" />

	<div class="top-bar">

		<div class="info">
			<label class="fraglimit">Fraglimit: 30</label>
			<label class="timer">@GetGameTimer()</label>
		</div>

		<div class="leaderboard">
			@if (true)
			{
				@foreach (var client in Scene.GetAllComponents<Client>().OrderBy(x => -x.Kills))
				{
					<div class="entry @(client.Network.IsOwner ? "isme" : "")" style="background-color: @(client.ColorString)">
						@if (client.IsBot)
						{
							<img src="ui/icons/bot.png" class="avatar" />
						}
						else
						{
							<img src="@($"avatar:{client.Network.OwnerConnection.SteamId}")" class="avatar" />
						}
						<label class="name">@client.GameObject.Name</label>
						<div class="score">@client.Kills</div>
					</div>
				}
			}
		</div>
	</div>

	@if (!Player.Local.IsValid())
	{
		var isValid = Client.Local.IsValid();
		<div class="banner">
			@if (!isValid || Client.Local.TimeSinceLastDeath < 5)
			{
				<h1>You can respawn in @(isValid ? (5 - Math.Floor(Client.Local.TimeSinceLastDeath)) : 5) seconds...</h1>
			}
			else
			{
				<h1>Press @(Input.GetButtonOrigin("Jump").ToUpper()) to respawn</h1>
			}
		</div>
	}

</root>

@code
{

	TimeSince timeSinceRefresh = 0f;

	string GetGameTimer()
	{
		var time = MathF.Floor(GameManager.Instance.Timer);
		var minutes = MathF.Floor(time / 60);
		var seconds = time % 60;

		return $"{minutes:00}:{seconds:00}";
	}

	protected override int BuildHash() => System.HashCode.Combine(MathF.Floor(timeSinceRefresh), Player.Local.IsValid());
}