@using System;
@using Sandbox;
@using Sandbox.UI;
@namespace Instagib
@inherits Panel
@attribute [StyleSheet]

<root class="team @(GameManager.GetTeamName(Team).ToLower())">
    @if (true)
    {
        var clients = Scene.GetAllComponents<Client>().Where(x => x.Team == Team);
        var counts = GameManager.Instance.TeamCounts;
        <div class="entries">
            @foreach (var client in clients)
            {
                <div class="entry" style="background-color: @(client.ColorString)">
                    @if (client.IsBot)
                    {
                        <img src="ui/icons/bot.png" class="avatar" />
                    }
                    else
                    {
                        <img src="@($"avatar:{client.Network.Owner.SteamId}")" class="avatar" />
                    }
                    <label class="name">@client.GameObject.Name</label>
                </div>
            }
        </div>
        <div class="btn @(counts.Any(x => x.Key > 0 && x.Key != Team && x.Value < counts[Team]) ? "disabled" : "")" onclick=@Join>Join @(GameManager.GetTeamName(Team)) Team</div>
    }
</root>

@code
{
    public int Team { get; set; } = 1;

    void Join()
    {
        var counts = GameManager.Instance.TeamCounts;
        if (counts.Any(x => x.Key > 0 && x.Key != Team && x.Value < counts[Team])) return;

        Client.Local.JoinTeam(Team);
    }

    protected override int BuildHash() => System.HashCode.Combine(MathF.Floor(Time.Now));
}